*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style-type: none;
}

body {
  background: black;
  scroll-behavior: smooth;
  font-family: 'Proba', sans-serif;
}

@font-face {
  font-family: 'Proba';
  src:
    url('./assets/fonts/ProbaPro-Light.woff2') format('woff2'),
    url('./assets/fonts/ProbaPro-Light.woff') format('woff');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Proba';
  src:
    url('./assets/fonts/ProbaPro-Regular.woff2') format('woff2'),
    url('./assets/fonts/ProbaPro-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Proba';
  src:
    url('./assets/fonts/ProbaPro-Medium.woff2') format('woff2'),
    url('./assets/fonts/ProbaPro-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Proba';
  src:
    url('./assets/fonts/ProbaPro-Bold.woff2') format('woff2'),
    url('./assets/fonts/ProbaPro-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

a {
  text-decoration: none;
  outline: none;
}

button,
a {
  cursor: pointer;
}
